<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>博客后台管理</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/admin/css/font.css}">
        <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
        <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--导入echarts-->
        <script th:src="@{/admin/echarts/echarts.min.js}" charset="utf-8"></script>
    </head>
    <script>
        window.onload = function() {
            var show = document.getElementById("showTime");
            setInterval(function() {
                var time = new Date();   // 程序计时的月从0开始取值后+1
                var m = time.getMonth() + 1;
                var t = time.getFullYear() + "-" + m + "-"
                    + time.getDate() + " " + time.getHours() + ":"
                    + time.getMinutes() + ":" + time.getSeconds();
                show.innerHTML = t;
            }, 1000);
        };
    </script>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎管理员：<span th:text="${session.loginUser.userNickname}"></span>
                                <span style="margin-left: 20px" class="x-red">时间：</span><span id="showTime"></span>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md3 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>发布文章</h3>
                                        <p>
                                            <cite th:text="${articleData.articles}">66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md3 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章评论</h3>
                                        <p>
                                            <cite th:text="${articleData.articleCommentCount}">12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md3 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章浏览</h3>
                                        <p>
                                            <cite th:text="${articleData.articleViews}">99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md3 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章点赞</h3>
                                        <p>
                                            <cite th:text="${articleData.articleLikeCount}">67</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">最新文章
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">每周</span></div>
                        <div class="layui-card-body ">
                            <th:block th:each="a:${articles}">
                                <div style="font-size: 15px ;"><a href="##"  th:text="${a.articleTitle}"></a></div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">最新留言
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">每周</span></div>
                        <div class="layui-card-body ">
                            <th:block th:each="c:${comments}">
                                <div style="font-size: 15px;"><a href="##"  th:text="${c.commentContent}"></a></div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">系统日志
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">每日</span></div>
                        <div class="layui-card-body ">
                            <th:block th:each="l:${logs}">
                                <div style="font-size: 13px;">
                                    <span th:text="${l.logIp}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${l.logAction}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span th:text="${#dates.format(l.createTime, 'yyyy-MM-dd HH:mm')}"></span></div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">博客日访问量</div>
                        <div class="layui-card-body ">
                            <!--echart博客日访问数据-->
                            <div id="container" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
                <!--页面底部-->
                <div th:replace="~{commons/foot :: footBar}"></div>
            </div>
        </div>
        </div>
    </body>
    <script>
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line',
                smooth: true
            }]
        };

        // //从后台获取数据
        // $.get("/",{},function (data) {
        //       var option = {
        //           xAxis: {
        //               type: 'category',
        //               data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        //           },
        //           yAxis: {
        //               type: 'value'
        //           },
        //           series: [{
        //               data: [820, 932, 901, 934, 1290, 1330, 1320],
        //               type: 'line',
        //               smooth: true
        //           }]
        //       }
        // })

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
</html>