<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<blockquote class="layui-elem-quote">[[${sorts.sortName}]]分类列表<i class="layui-icon x-show" status='true'>&#xe623;</i></blockquote>
<form class="layui-form layui-col-space5">
    <div class="layui-input-inline layui-show-xs-block">
        <input class="layui-input" placeholder="二级分类名" id="sortName"  lay-verify="required" style="margin-left: 15px"></div>
    <div  class="layui-input-inline layui-show-xs-block" style="margin-left: 15px">
        <button class="layui-btn"  lay-filter="insert" lay-submit=""><i class="layui-icon" ></i>增加</button>
    </div>
</form>
<hr>

<div class="layui-card-body " >
    <table id="Tab" class="layui-table layui-form" lay-filter="Tab">

    </table>
</div>
<!--页面底部-->
<div th:replace="~{commons/foot :: footBar}"></div>
<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn layui-btn-xs" lay-event="editChild" ><i class="layui-icon">&#xe642;</i>修改</button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delChild" ><i class="layui-icon">&#xe642;</i>删除</button>
</script>
<script type="text/javascript" >
    var pid = '[[${sorts.sortId}]]'
    console.log(pid)
    layui.use('table',function () {
       var table = layui.table;
       table.render({
           elem:'#Tab',
           url:'/sorts/child/'+pid,
           cols:[
               [
               {type: 'checkbox', fixed: 'left'}
               ,{field:'sortId', title:'ID' ,sort: true}
               ,{field:'sortName', title:'分类名' ,sort: true}
               ,{field:'sortDescription', title:'详情' ,sort: true}
               ,{ title:'操作', toolbar: '#barDemo'}
               ]
           ],
           parseData:function (result) {
            return{
                "code":0
                ,"msg":""
                ,"count":100
                ,"data":result
            }
        }
       })
        //监听表格工具条
        table.on('tool(Tab)',function (obj) {//注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data
            if (obj.event === 'editChild'){
                xadmin.open('修改','/sorts/edit/'+data.sortId);
            }else if(obj.event === 'delChild'){
                delSort(this,data.sortId);
            }
        })
    })

    layui.use(['form'], function(){
       var form = layui.form;
        //新增分类
        form.on('submit(insert)',function () {
            var sortName = $("#sortName").val();
            //发送异步请求
            $.get('/sorts/insert',{"sortName":sortName,"parentId":pid,"sortState":0},
            function (msg) {
              //console.log(msg)
                if(msg == 'failure'){
                    //提交表单,并刷新
                    layer.alert("新增失败,分类已存在", {
                            icon: 5
                        },
                        function() {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                }else{
                    //提交表单,并刷新
                    layer.alert("新增成功", {
                            icon: 6
                        },
                        function() {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                }
            })
            return false;
        });
    });

    function delSort(obj,id) {
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.get('/sorts/del',{"sortId":id},function (msg) {
                //console.log(msg)
                if(msg=='failure'){
                    layer.msg('删除失败!',{icon:2,time:1000});
                }else{
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }
            })
        });
    }
</script>
</body>
</html>